<div class="pagiDiv">
  <% if (pages > 0) { %>
  <ul class="pagination justify-content-end">
    <% if (current == 1) { %>
    <li class="disabled page-item"><a class="page-link">First</a></li>
    <% } else { %>
    <li class="page-item"><a class="page-link" href="/1">First</a></li>
    <% } %>
    <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
    <% if (i !== 1) { %>
    <li class="disabled page-item"><a class="page-link">...</a></li>
    <% } %>
    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
    <% if (i == current) { %>
    <li class="active page-item"><a class="page-link"><%= i %></a></li>
    <% } else { %>
    <li class="page-item"><a class="page-link" href="/<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == Number(current) + 4 && i < pages) { %>
    <li class="disabled page-item"><a class="page-link">...</a></li>
    <% } %>
    <% } %>
    <% if (current == pages) { %>
    <li class="disabled page-item"><a class="page-link"><%= pages %></a></li>
    <% } else { %>
    <li><a class="page-link" href="/<%= pages %>">Last <%= pages %></a></li>
    <% } %>
  </ul>
  <% } %>
</div>
