<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="mx-4">
      <%- include("./partials/pagination.ejs") %>

      <table id="myTable" class="table table-bordered table-striped table-hover mt-4">
        <thead>
          <tr class="table-primary">
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col">Text</th>
            <th scope="col">Likes</th>
            <th scope="col">Retweets</th>
            <th scope="col">Discussions</th>
          </tr>
        </thead>
        <tbody>
          <% if (tweets.length > 0) { %>
          <% tweets.forEach(tweet => { %>
          <tr>
            <td><%= tweet.author %></td>
            <td><%= tweet.date %></td>
            <td><%= tweet.text %></td>
            <td><%= tweet.likes %></td>
            <td><%= tweet.retweets %></td>
            <td><%= tweet.discussions %></td>
          </tr>
          <% }) %>
          <% } else { %>
          <p>There are no tweets to display...</p>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>

</html>
